##### COMMON SETTINGS #####
#DeviceType = DigiMeshDevice
DeviceType = ZigBeeDevice
DeviceBaudRate = 115200
RemoteNodeID = XTEND01
TimeOutForSyncOperations = 10000

##### MQTT SETTINGS #####
#BrokerURL = tcp://iot.eclipse.org:1883
#BrokerURL = tcp://192.168.42.1:1883
BrokerURL = tcp://127.0.0.1:1883
#BrokerURL = tcp://192.168.43.42:1883
ClientId = Maykot_Router
SubscribedTopic = maykot/#
QoS = 2

##### WINDOWS SETTINGS #####
#DevicePort = COM6
#DevicePort = COM13
#DevicePort = COM14

# MAC OSX SETTINGS
DevicePort = /dev/tty.usbserial
#DevicePort = /dev/tty.usbserial-141
#DevicePort = /dev/tty.usbserial-142

##### LINUX SETTINGS #####
#DevicePort = /dev/ttyUSB0
